.entry-element {
    width: 100%;
    border: 1px solid black;
}

.entry-topic {
    justify-items: center;
    align-items: center;
    justify-content: center;
    align-content: center;
}

.entry-topic h2{
    text-align: center;
}

.entry-container {
    height: 100%;
    gap: 5px;
    justify-content: center;
}

.entry-header {
    height: 200px;
}

.entry-header-image {
    height: 100%;
    width: 300px;
    border-left: 1px solid black;
}

.entry-answer {
    height: 130px;
}

.entry-answer-question {
    height: 30px;
    border-bottom: 1px solid black;
}