{% extends "base.j2" %}

{% block main %}
    <link rel="stylesheet" href="/static/style/apps.css">
    <h1>Question Manager</h1>
    <div class="box-h app_frame" id="question_manager-root">
        <div class="spacer-h"></div>
        <div class="app_widget-root" id="question_collection_browser-root">
            <p hx-trigger="load" hx-get="/admin/question_collection_manager/browser" hx-target="#question_collection_browser-root">Unable to load question browser.</p>
            <button hx-get="/admin/question_collection_manager/browser" hx-target="#question_collection_browser-root">Retry</button>
        </div>

        <h1 style="text-wrap: nowrap; height: 100%; align-content: center; margin: 0; padding-left: 15px; padding-right: 15px;">→</h1>

        <div class="app_widget-root" id="editor">
            <p hx-trigger="load" hx-get="/admin/question_collection_manager/editor/1" hx-target="#question_collection_editor-root">Unable to load question editor</p>
            <button hx-get="/admin/question_collection_manager/editor/1" hx-target="#question_collection_editor-root">Retry</button>
        </div>

        <div class="spacer-h"></div>
    </div>
{% endblock %}