<div class="answer-viewer-frame">
    <div class="answer-viewer-header">
        <div class="box-h">
            <h3>{{ answer.question.description }}</h3>
            <div class="spacer-h"></div>
            <button>Edit</button>
        </div>
    </div>
    <div class="answer-viewer-main">
        {{ answer.value }}
    </div>
</div>