<link rel="stylesheet" href="/static/style/entry.css">


<div class="flip {% if offset == -1 %} already_flipped {% elif offset == 0 %}  {% if transition == "prev" %} unflipped {% else %} flipped {% endif %}{% endif %}"
{% if offset == 0 %} style="z-index:1;" {% endif %}>
    {% with entry_id = entry_id%}
        <div class="back" data-entry_id="{{ entry_id }}" id="p{{ entry_id }}b">
            {% include "book/entry_page_front.j2" %}
        </div>
    {% endwith %}

    <div class="front" data-entry_id="{{ entry_id }}" id="e{{ entry_id }}f">
        {% include "book/entry_page_back.j2" %}
    </div>
</div>