{% if entry_id > 0 %}
{% set offset = -1 %}
{% with entry_id = entry_id + offset %}
    {% include "book/entry_page.j2" %}
{% endwith %}
{% endif %}
{% set offset = 0 %}
{% with entry_id = entry_id + offset %}
    {% include "book/entry_page.j2" %}
{% endwith %}
{% set offset = 1 %}
{% with entry_id = entry_id + offset %}
    {% include "book/entry_page.j2" %}
{% endwith %}
