{% if previous_entry != None %}
    <div class="flip already_flipped">
        {% include "book_explorer/page_back.html" with entry=previous_entry %}
    </div>
{% endif %}

<div class="flip {% if transition == "prev" %} unflipped {% else %} flipped {% endif %}" style="z-index:1;">
    {% include "book_explorer/page_back.html" with entry=current_entry %}

    {% if previous_entry != None %}
        {% include "book_explorer/page_front.html" with entry=previous_entry%}
    {% else %}
        {% include "book_explorer/start_page.html" %}
    {% endif %}
</div>

<div class="flip">
    {% include "book_explorer/page_front.html" with entry=current_entry %}
</div>