<div hx-get={{ object.on_click_url }} hx-target="#editor" hx-trigger="click" class="browser_element">
    {{ object.title }}<div class="spacer-h"></div>
    {% for button in object.buttons %}
        Buttons not set up.
    {% endfor %}
</div>