<div class="browser_element">
    <div
        {% if object.on_click_url != None %}
            hx-get="{{ object.on_click_url }}"
            {% if object.hx_target != None %}
                hx-target="{{ object.hx_target }}"
            {% else %}
                hx-target="#editor"
            {% endif %}
            hx-trigger="click"
        {% endif %}
        class="box-h hover_element">
        {{ object.title }}
        <div class="spacer-h"></div>
    </div>
    {% for button in object.buttons %}
        {% include "apps/elements/object_browser_button.j2" %}
    {% endfor %}
</div>